@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import 'vendor/fontawesome/scss/font-awesome.scss';
@import 'base';
@import 'base-responsive';
@import 'dashboard';
@import 'login';
@import 'google-font';

.rated-user, .rated-user:link, .rated-user:visited, .rated-user:hover, .rated-user:active {
  text-decoration: none !important;
  font-weight: bold;
}

.user-red {
  color: red;
}

.user-orange {
  color: #FF8C00;
}

.user-violet {
  color: #A0A;
}

.user-blue {
  color: blue;
}

.user-green {
  color: green;
}

.user-gray {
  color: gray;
}

/* Style active links in the sub navigation*/
.subnavbar .mainnav > li.open > a {
  text-decoration: none;
}
.subnavbar .mainnav > li > a.active {
  background: #333;
  color: #F90;
}
.subnavbar .mainnav > li > a.active .caret {
  border-top-color: #ff9900;
  border-bottom-color: #ff9900;
}

/* FAQ Styles*/
.btn-support-ask {
  font-size: 22px; padding: 14px 0; font-weight: 600; margin-bottom: .75em;
}

.btn-support-contact {
  padding: 14px 0; font-size: 22px; font-weight: 600;
}

