<div class="col-md-12">
  <div class="widget stacked widget-table action-table questions-table">

    <div class="widget-header">
      <i class="fa fa-th-list"></i>
      <h3>Questions</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        <tr>
          <td>A</td>
          <td><h4>Wene on xmas</h4> </td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div> <!-- /widget-content -->

  </div> <!-- /widget -->
</div>
