<div class="row">

  <div class="col-md-12">

    <div class="error-container">
      <h1>Oops!</h1>
      <h2>Contest Not Found</h2>

      <div class="error-details">
        Please contact support if this is an unexpected problem!
      </div> <!-- /error-details -->

      <div class="error-actions">
        {{#link-to 'contests' class="btn btn-primary btn-lg"}}
        <i class="fa fa-chevron-left"></i>
        &nbsp;
        Back to Contests
        {{/link-to}}
        <!-- </a> -->

      </div> <!-- /error-actions -->

    </div> <!-- /error-container -->

  </div> <!-- /span12 -->

</div> <!-- /row -->
