<div class="col-md-12">
  <div class="widget stacked widget-table action-table problems-table">

    <div class="widget-header">
      <i class="fa fa-th-list"></i>
      <h3>Problems for {{title}}</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        {{#each problems}}
        <tr>
          <td>A</td>
          <td><h4>{{#link-to 'problem' this}}{{title}}{{/link-to}}</h4> </td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div> <!-- /widget-content -->

  </div> <!-- /widget -->


  {{outlet}}
</div>
