<div class="subnavbar">

  <div class="subnavbar-inner">

    <div class="container">

      <a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <div class="collapse subnav-collapse">
        <ul class="mainnav">

          <li>
            {{#link-to 'index'}}
              <i class="fa fa-home"></i>
              <span>Home</span>
            {{/link-to}}
          </li>

          <li class="dropdown">
            {{#link-to '' class="dropdown-toggle" data-toggle="dropdown"}}
              <i class="fa fa-th"></i>
              <span>Contests</span>
              <b class="caret"></b>
            {{/link-to}}

            <ul class="dropdown-menu">
              <li>{{link-to 'Single Round Matches'}}</li>
              <li>{{link-to 'Marathons'}}</li>
            </ul>
          </li>

          <li class="dropdown">
            {{#link-to '' class="dropdown-toggle" data-toggle="dropdown"}}
              <i class="fa fa-gears"></i>
              <span>Practice</span>
              <b class="caret"></b>
            {{/link-to}}

            <ul class="dropdown-menu">
              <li>{{link-to 'Single Round Matches'}}</li>
              <li>{{link-to 'Marathons'}}</li>
            </ul>
          </li>

          <li class="dropdown">
            {{#link-to 'rankings' class="dropdown-toggle" data-toggle="dropdown"}}
              <i class="fa fa-trophy"></i>
              <span>Rankings</span>
            {{/link-to}}
          </li>

          <li class="dropdown">
            {{#link-to 'faqs' class="dropdown-toggle" data-toggle="dropdown"}}
              <i class="fa fa-question"></i>
              <span>Help</span>
            {{/link-to}}
          </li>

        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->

