<div class="bs-example">
  <ul class="nav nav-pills">
    {{#link-to 'contest.index' this tagName='li' href=false}} {{link-to 'Problems' 'contest.index' this}} {{/link-to}}
    {{#link-to 'contest.submission' tagName='li' href=false}} {{link-to 'Submit Code' 'contest.submission'}} {{/link-to}}
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active in" id="tab-1">
      {{outlet}}
    </div>

  </div>
</div> <!-- /bs-example -->

