<div class="row">

  <div class="col-md-7">

    {{view 'recent-news'}}
    {{view 'recent-editorials'}}

  </div> <!-- /span6 -->


  <div class="col-md-5">

    {{view 'top-hackers'}}

  </div> <!-- /span6 -->

</div> <!-- /row -->
