<div class="main">

  <div class="container">

    <div class="row">

      <div class="col-md-7">

        <div class="widget widget-nopad stacked">

          <div class="widget-header">
            <i class="fa fa-list-alt"></i>
            <h3>Recent News</h3>
          </div> <!-- /widget-header -->

          <div class="widget-content">

            <ul class="news-items">
              <li>

              <div class="news-item-detail">
                <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>

              <div class="news-item-date">
                <span class="news-item-day">08</span>
                <span class="news-item-month">Mar</span>
              </div>
              </li>
              <li>
              <div class="news-item-detail">
                <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>

              <div class="news-item-date">
                <span class="news-item-day">08</span>
                <span class="news-item-month">Mar</span>
              </div>
              </li>
              <li>
              <div class="news-item-detail">
                <a href="javascript:;" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>

              <div class="news-item-date">
                <span class="news-item-day">08</span>
                <span class="news-item-month">Mar</span>
              </div>
              </li>
            </ul>

          </div> <!-- /widget-content -->

        </div> <!-- /widget -->


        <div class="widget stacked">

          <div class="widget-header">
            <i class="fa fa-file-text"></i>
            <h3><a href="#">Contest #101 editorial</a></h3>
          </div> <!-- /widget-header -->

          <div class="widget-content">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>

          </div> <!-- /widget-content -->

        </div> <!-- /widget -->

      </div> <!-- /span6 -->


      <div class="col-md-5">

        {{view 'top_hackers'}}

      </div> <!-- /span6 -->

    </div> <!-- /row -->

  </div> <!-- /container -->

</div> <!-- /main -->
