<div class="col-md-8">

  <div class="widget stacked">

    <div class="widget-header">
      <i class="fa fa-thumb-tack"></i>
      <h3>{{title}}</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">
      {{description}}
    </div> <!-- /widget-content -->

  </div> <!-- /widget -->

</div> <!-- /span8 -->

